/* Common CSS Start */
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn-green{
    padding: 12px 16px;
    background-color: #30B868;
    border: 2px solid #30B868;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-green-hover{
    transition: .3s;
}
.btn-green-hover:hover{
    color: #30B868;
    background-color: transparent;
}
.btn-white{
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-white-hover{
    transition: .3s;
}
.btn-white-hover:hover{
    background-color: #30B868;
    border: 1px solid #30B868;
}
/* Common CSS End*/

/* Header Part Start */
header{
    background-color: #FFFFFF;
}
nav{
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu Part Start */
.menu ul{
    display: flex;
    gap: 30px;
}
.menu ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
    transition: .3s;
}
.menu ul li a:hover{
    color: #30B868;
}
/* Menu Part End */

/* Banner Part Start */
#banner{
    padding: 80px 0 160px 0;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.banner-anouncement{
    padding: 8px 12px;
    width: 280px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}
.banner-anouncement h5{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    text-transform: capitalize;
}
.banner-contents h2{
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    width: 610px;
    margin: 0 auto;
    text-transform: capitalize;
    padding: 25px 0;
}
.banner-contents h2 span{
    color: #30B868;
}
.banner-contents p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 690px;
    margin: 0 auto;
    padding-bottom: 35px;
}
.banner-button button{
    margin-left: 10px;
}
.banner-button button i{
    margin: 0 6px;
}
.banner-button .btn-green{
    transition: .3s;
}
.banner-button .btn-green:hover{
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.3);
}
/* Banner Part End */
/* Header Part End */

/* Note Section End */
#notes{
    padding-top: 65px;
    background-color: rgba(98, 115, 130, 0.1);
}
.notes-header{
    text-align: center;
}
.notes-header h3,
.brain-contents h3, 
.access-contents h3 {
    font-size: 35px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
    padding: 16px 0;
}
.notes-header p,
.brain-contents p, 
.access-contents p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    padding-bottom: 20px;
}
.notes-card{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;
}
.card{
    background: #FFFFFF;
    padding: 64px 24px 24px 24px;
    max-width: 322px;
    margin: 0 auto;
    text-align: center;
}
.card img{
    padding: 12px;
    border-radius: 50%;
    background-color: #F95555;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-transform: capitalize;
    padding: 16px 0;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 12px;
    width: 250px;
}
/* Note Section End */

/* Second Brain Section Start */
#brain-section{
    padding: 80px 0;
    background-color: #FFFFFF;
}
.brain-structure{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.brain-contents h5{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    text-transform: uppercase;
}
.brain-contents ul li{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    padding-top: 10px;
}
.brain-contents ul li i{
    color: #30B868;
    padding-right: 6px;
}
/* Second Brain End Start */

/* Early Access Section Start */
#access{
    padding-bottom: 80px;
}
.access-contents{
    padding: 80px 300px;
    background-color: rgba(98, 115, 130, 0.2);
    text-align: center;
}
.access-subtitle{
    padding-bottom: 10px!important;
}
.access-contents button{
    margin-bottom: 18px;
    transition: .3s;
}
.access-contents button:hover{
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
}
.access-contents button i{
    padding-left: 8px;
}
.access-contents ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    list-style-type: disc;
}
.access-contents ul li{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-left: 15px;
    padding-bottom: 20px;
}
.list-style{
    list-style-type: none;
}
/* Early Access Section End */

/* Footer Section Start */
footer{
    padding: 80px 0 20px;
    background-color: #001931;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-links h5{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 8px;
    text-transform: capitalize;
}
.social-links ul{
    display: flex;
    justify-content: start;
    gap: 15px;
}
.social-links ul li a{
    font-size: 20px;
    color: #FFFFFF;
}
.social-links ul li a:hover{
    color: #30B868;
}
.divider{
    border-bottom: 1px solid rgba(229, 231, 235, 0.20);
    margin: 60px 0 20px;
}
.copyright{
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
/* Footer Section End */